!!!
html
    head
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
        link(rel='stylesheet', href='/css/cover.css')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        script(src='js/bootstrap.min.js')
    body
        header
        .container
            .main-content
              h1 Tripster
              block content
            .sidebar
              block sidebar
    footer
        p Running on node with Express, Jade and Stylus

  